{{!-- Layout --}}
{{!< default}}

{{#post}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-article{{/contentFor}}

<article class="post u-marginBottom40 u-relative">
    {{!-- Article Header - paertials/article/article-header.hbs --}}
    <section class="spc-header u-relative u-overflowHidden u-bgDark">
        <img class="u-absolute u-image u-block blur-up lazyload" src="/content/images/size/w600/2020/03/microphone.jpg" srcset="/content/images/size/w30/2020/03/microphone.jpg" data-srcset="/content/images/size/w300/2020/03/microphone.jpg 300w,
            /content/images/size/w600/2020/03/microphone.jpg 600w,
            /content/images/size/w1000/2020/03/microphone.jpg 1000w,
            /content/images/size/w2000/2020/03/microphone.jpg 2000w" data-sizes="(max-width: 800px) 400px, (max-width: 1170px) 700px, 1400px" alt="Sous La Pluie" />

        <div class="spc-h-inner u-textColorWhite u-maxWidth1040 u-container u-relative zindex3 u-textAlignCenter">
            <h1 class="spc-h-t animated bounceIn">{{title}}</h1>
            <p class="spc-h-e">Podcast</p>
            <div class="spc-buttons">
                <a class="button" href="https://open.spotify.com/show/2sYb9oXWgYjKxIkFTzzuyy">
                    <img src="https://souslapluie.fr/assets/images/spotify-logo.png" style="height:15px" alt="Spotify Icon"
                        rel="presentation" />
                    <span>Spotify</span>
                </a>
                <a class="button" href="https://anchor.fm/souslapluie">
                    <img src="https://souslapluie.fr/assets/images/icon-rss.png" style="height:15px" alt="RSS Icon"
                        rel="presentation" />
                    <span>RSS</span>
                </a>
            </div>
        </div>

    </section>

    <div class="post-wrap u-maxWidth1000 u-relative u-marginAuto">
        {{!-- All Content --}}
        <div id="post-body" class="post-body u-container u-maxWidth740 u-relative">{{content}}</div>
    </div>

    <footer class="post-footer u-container u-maxWidth740">
        {{!-- Tags (category) --}}
        {{> "article/article-tags"}}

        <hr>
        <div class="prev-next">
            {{#next_post in="primary_tag"}}
                    {{> "story/story-previous-next" storyTitle=(t "Next article") class="u-marginBottom30"}}
            {{/next_post}}
            {{#prev_post in="primary_tag"}}
                    {{> "story/story-previous-next" storyTitle=(t "Previous article") class=""}}
            {{/prev_post}}
        </div>
                <hr>
    </footer>
</article>

{{/post}}



{{#post}}
{{!-- post Commets --}}
{{> "article/article-comments"}}

{{!-- Share Article - Facebook Twitter Whatsapp --}}
{{> "article/article-share-sticky"}}
{{/post}}